:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --background-white-color: #e5e5e5;
  --background-grey-color: #f5f4fa;
}
