footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
}

.footer-block {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.city {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link-mail {
  display: block;
  margin-bottom: 9px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-link-tel {
  display: block;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-link-mail,
.footer-link-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-block__contacts {
  margin-right: 70px;
}

.footer-join {
  margin-right: 93px;
}

.footer-join__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form-footer {
  display: flex;
}

.form-footer input {
  display: flex;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  width: 358px;
  align-items: center;
  justify-content: center;
  padding: 15px 16px 15px 16px;
}

.form-footer input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__icon {
  fill: var(--white-text-color);
  margin-left: 10px;
}
