footer {
  background-color: #2f303a;
  width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-block {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    width: 1200px;
  }
}

.footer-section {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.footer-block__contacts {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0;
  }
}

.city {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link-mail {
  display: block;
  margin-bottom: 9px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-link-tel {
  display: block;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-link-mail,
.footer-link-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-join__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-join__social {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.form-footer {
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    align-items: flex-end;
  }
}

.form-footer input {
  width: 450px;
  display: inline-block;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  align-items: center;
  justify-content: center;
  padding: 15px 16px 15px 16px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }
}

.form-footer input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__icon {
  fill: var(--white-text-color);
  margin-left: 10px;
}
