.page-header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;

  display: flex;
  align-items: center;

  z-index: 1;
  background-color: var(--white-text-color);
  border-bottom: 1px solid #ececec;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  padding: 40px;
  text-align: center;

  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 796px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.main-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}

.main-nav__list {
  display: flex;

  @media screen and (max-width: 767px) {
    display: block;
    text-align: left;
    margin-bottom: 302px;
  }
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    padding: 0;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

.main-nav__link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.main-nav__link.current {
  color: var(--primary-text-color);
}

.site-contacts {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    position: relative;
    display: block;
    text-align: left;
    margin-left: 0;
    margin-bottom: 62px;
  }
}

.site-contacts__item + .site-contacts__item {
  margin-left: 50px;
  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
}

.site-contacts__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.site-contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    justify-content: left;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

.site-contacts__link__mail {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    justify-content: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.site-contacts__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .site-contacts__link:hover &,
  .site-contacts__link:focus & {
    fill: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu-social {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-social__item {
  display: flex;
  padding-right: 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.menu-social__link {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
