.form {
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  padding: 40px;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-field input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  margin-left: 12px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-field input:hover + &,
  .form-field input:focus + & {
    fill: var(--accent-color);
  }
}

.textarea-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.textarea-field label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.comment {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  height: 120px;
  border-radius: 4px;
  padding: 16px 12px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea-field textarea:hover,
.textarea-field textarea:focus {
  border: 1px solid var(--accent-color);
}

.policy-label {
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  margin-right: 9px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  fill: var(--white-text-color);
}

.checkbox:checked ~ .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.policy-field {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.policy-terms {
  padding-left: 3px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  padding: 10px 55px 10px 56px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
