.main-nav__logo {
  margin-right: 93px;
  text-align: left;
}

.main-nav__logo,
.footer-block__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
  }
}

.web {
  color: #2196f3;
}

.studio-black {
  font-family: Raleway, sans-serif;
  color: #212121;
}

.footer-block__logo {
  display: block;
  margin-bottom: 20px;
}

.studio-white {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  text-decoration: none;
}
