body {
  font-family: Roboto, sans-serif;
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}
